<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN">

<properties>
	<property name="basePath">./logs</property>
</properties>

<Appenders>
	<console name="Console" target="SYSTEM_OUT">
		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	</console>
	
	<RollingFile name = "File" fileName = "${basePath}/automation.log" filePattern="${basePath}/automation=%d{yyyy-MM-dd}.log">
		<PatternLayout pattern="%d{HH:mm:ss:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		<SizeBasedTriggeringPolicy size="5000"/>
	</RollingFile>
	
</Appenders>

<Loggers>
	<Root level = "debug"> <!-- Here you can use multiple log levels All < Trace < Debug < Info < Warn < Error < FATAL < OFF-->
	<!--<AppenderRef ref="Console"/>-->
	<AppenderRef ref="File"/><AppenderRef />
		</Root>
	</Loggers>

</configuration>